@font-face {
  font-family: "Satoshi";
  src: url("./Satoshi-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Satoshi";
  src: url("./Satoshi-Medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Satoshi";
  src: url("./Satoshi-Bold.woff2") format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "Satoshi";
  src: url("./Satoshi-Black.woff2") format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "General Sans";
  src: url("./Satoshi-Black.woff2") format("woff2");
  font-weight: 700;
}