

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}





 .highlight {
        background: url(//s2.svgbox.net/pen-brushes.svg?ic=brush-1&color=95abb2);
        height: auto;
        width: auto;
        transition:ease-in-out;
    }

    .text-part {
    display: inline-block;
    position: relative;
    transform: translateX(0);
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.text-part.left {
    transform: translateX(-200%);
    animation-name: slide-in-left;
}

.text-part.right {
    transform: translateX(200%);
    animation-name: slide-in-right;
}

@keyframes slide-in-left {
    0% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slide-in-right {
    0% {
        transform: translateX(200%);
    }
    100% {
        transform: translateX(0);
    }
}


    
/* Add to your global CSS */
.border-divide {
  border-color: rgb(229 231 235 / 0.8);
}

/* Fix for nth-child selectors in grid */
.grid > div:nth-child(2n) {
  /* For 2-column layout */
}

.grid > div:nth-child(3n) {
  /* For 3-column layout */
}
