

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}





 .highlight {
        background: url(//s2.svgbox.net/pen-brushes.svg?ic=brush-1&color=95abb2);
        height: auto;
        width: auto;
        transition:ease-in-out;
    }

    
/* Add to your global CSS */
.border-divide {
  border-color: rgb(229 231 235 / 0.8);
}

/* Fix for nth-child selectors in grid */
.grid > div:nth-child(2n) {
  /* For 2-column layout */
}

.grid > div:nth-child(3n) {
  /* For 3-column layout */
}
